table.state {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    table-layout: fixed;
}
table.state td:nth-of-type(1) {width: 25%;}
table.state td:nth-of-type(2) {width: 35%;}
table.state td:nth-of-type(3) {width: 15%;}
table.state td:nth-of-type(4) {width: 25%;}

#stateDRDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#stateDRBar {
    display: flex;
    width: 100px; 100%;
    height: 12px;
    background-color: lightGrey;
}
#stateDRProgress {
    width: 1%;
}

table.events {table-layout: fixed;}
table.events td:nth-of-type(1) {width: 83.6%;}
table.events td:nth-of-type(2) {width: 16.4%;}

table.races {
    table-layout: fixed;
    display: none;
}
table.races td:nth-of-type(1) {width: 42%;}
table.races td:nth-of-type(2) {width: 20%;}
table.races td:nth-of-type(3) {width: 20%;}
table.races td:nth-of-type(4) {width: 18%;}

table.garage {table-layout: fixed;}
table.garage td:nth-of-type(1) {width: 42%;}
table.garage td:nth-of-type(2) {width: 12%;}
table.garage td:nth-of-type(3) {width: 18%;}
table.garage td:nth-of-type(4) {width: 28%;}

button.margin {margin: 0px 5px;}
